.panel {
  width: 16rem;
  height: 100vh;
  position: fixed;
  border: 1.5px solid rgb(207, 206, 206);
  left: 0;
  top: 0vh;
  font-family: "Roboto", sans-serif;
  padding: 0 10px;
  background-color: white;
  overflow: scroll;
}
.drop {
  margin-top: 50px;
  font-weight: 300;
}
