.codes{
    background-color: rgb(255, 255, 255);
    width: 600px;
    border-radius: 6px;
    padding: 50px 50px;
    margin: 20px 20px 20px 30px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2rem;
    position: relative;
  }
  .copy{
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      padding: 2px 4px;
      border-radius: 3px;
      transition: 0.1s;
  }
  .copy:hover{
      background-color: wheat;
  }