body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(219, 218, 218);
  padding: 0 0rem 0 25rem;
}

#heading {
  text-align: center;
  margin-bottom: 30px;
}
*:focus {
  outline: none;
}
h1,
h2,
h3,
h4 {
  margin: 10px 0;
  font-weight: 400;
}
h3 {
  font-size: 1.22rem;
}
h4 {
  font-size: 1.2rem;
}
.pad p {
  margin: 10px 0;
  font-weight: 300;
  letter-spacing: 0.02cm;
  font-size: 1.1rem;
}
.cur {
  font-style: italic;
}
ul,
ol {
  margin: 10px 0;
}
hr {
  margin-left: 0;
  width: 96%;
  opacity: 0.5;
}
canvas {
  transition: 0.3s;
  border: 1px solid black;
  width: 100%;
}
.pad input {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  font-weight: 300;
}
.Whole {
  background-color: white;
  overflow: scroll;
  position: relative;
  height: 50rem;
  width: 55rem;
  /* padding: 5px 10px 30px 10px; */
  box-shadow: -2px -2px 15px 1px #0000000d;
  cursor: url("./Assets/Vector.svg"), auto;  
  z-index:0;
}

p,
h1,
h2,
h3,
h4,
li {
  cursor: url("./Assets/Group.svg"), auto;
}
.outline{
  outline: solid;
  outline-offset:-10px; 
  outline-width:1px;
}
.paper{
  background-image: url("./Assets/paper-like.jpeg");
}
