@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body{
font-family: 'Roboto', sans-serif;
background: linear-gradient(90deg, rgba(251, 237, 150, 0.1) 0%, rgba(171, 236, 214, 0.1) 100%);
padding: 0 10rem 0 20rem ;
}
.pad {
  margin-top:70px;
  margin-bottom:50px;
}
#heading{
  text-align:center;
  margin-bottom:30px;
}
*:focus {
    outline: none;
}
h1,h2,h3,h4{
  margin:10px 0;
  font-weight: 400;
}
h3{
  font-size: 1.22rem;
}
h4{
  font-size: 1.2rem;
}
.pad p{
  margin:10px 0;
  font-weight: 300;
  letter-spacing: 0.02cm;
  font-size: 1.1rem;
}
.cur{
 font-style: italic;
}
ul,ol{
  margin:10px 0;
}
hr{
  margin-left:0;
  width:96%;
   opacity: 0.5;
}
canvas{
  transition:0.3s;
  border:1px solid black;
  width:100%;  

}
.pad input{
  background-color: transparent;
  border: none;
font-size: 2.5rem;
font-weight: 300;
}

